<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form action="/results" method="get">
    <label for="title">Search Movie Title: 
        <input type="text" name="q" id="query">

        <input type="submit" value="Search">
    </label>
</form>