<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>

<ul>
    <% movies.forEach(function(movie, id) { %>
        <li> <a href="/detail/?i=<%= movie.imdbID %>"> <%= movie.Title %> </a></li>
    <% }) %>
</ul>
