<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>

<ul>
    <% movies.forEach(function(movie, id) { %>
        <p> <a href="/detail/?i=<%= movie.imdbID %>"> <%= movie.Title %> </a> </p>
            <img src="<%= movie.Poster %>" alt="<%= movie.Title %> picture">
            <hr />
    <% }) %>
</ul>
